In [1]:
import pandas as pd
import numpy as np

In [4]:
pd. set_option("display.max_columns", None)
pd. set_option("display.max_rows", None)
NBA=pd.read_csv(r'C:\Users\admin\Downloads\nba_2013.csv',index_col='player')

In [5]:
NBA.head()

,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,x3p,x3pa,x3p.,x2p,x2pa,x2p.,efg.,ft,fta,ft.,orb,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
player,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,4,15,0.266667,62,126,0.492063,0.482,35,53,0.660,72,144,216,28,23,26,30,122,171,2013-2014,2013
Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,0,0,NaN,93,185,0.502703,0.503,79,136,0.581,142,190,332,43,40,57,71,203,265,2013-2014,2013
Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,0,0,NaN,143,275,0.520000,0.520,76,119,0.639,102,204,306,38,24,36,39,108,362,2013-2014,2013
Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,128,300,0.426667,336,711,0.472574,0.522,274,336,0.815,32,230,262,248,35,3,146,136,1330,2013-2014,2013
Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,0,1,0.000000,136,248,0.548387,0.546,56,67,0.836,94,183,277,40,23,46,63,187,328,2013-2014,2013

In [6]:
NBA.shape

(481, 30)

In [7]:
NBA.info()

<class 'pandas.core.frame.DataFrame'>
Index: 481 entries, Quincy Acy to Tyler Zeller
Data columns (total 30 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pos           481 non-null    object
 1   age           481 non-null    int64
 2   bref_team_id  481 non-null    object
 3   g             481 non-null    int64
 4   gs            481 non-null    int64
 5   mp            481 non-null    int64
 6   fg            481 non-null    int64
 7   fga           481 non-null    int64
 8   fg.           479 non-null    float64
 9   x3p           481 non-null    int64
 10  x3pa          481 non-null    int64
 11  x3p.          414 non-null    float64
 12  x2p           481 non-null    int64
 13  x2pa          481 non-null    int64
 14  x2p.          478 non-null    float64
 15  efg.          479 non-null    float64
 16  ft            481 non-null    int64
 17  fta           481 non-null    int64
 18  ft.           461 non-null    float64
 19  orb           481 non-null    int64
 20  drb           481 non-null    int64
 21  trb           481 non-null    int64
 22  ast           481 non-null    int64
 23  stl           481 non-null    int64
 24  blk           481 non-null    int64
 25  tov           481 non-null    int64
 26  pf            481 non-null    int64
 27  pts           481 non-null    int64
 28  season        481 non-null    object
 29  season_end    481 non-null    int64
dtypes: float64(5), int64(22), object(3)
memory usage: 116.5+ KB

In [8]:
NBA.isnull().sum()

pos              0
age              0
bref_team_id     0
g                0
gs               0
mp               0
fg               0
fga              0
fg.              2
x3p              0
x3pa             0
x3p.            67
x2p              0
x2pa             0
x2p.             3
efg.             2
ft               0
fta              0
ft.             20
orb              0
drb              0
trb              0
ast              0
stl              0
blk              0
tov              0
pf               0
pts              0
season           0
season_end       0
dtype: int64

In [9]:
NBA["fg."].fillna(NBA["fg."].mean(),inplace=True)
NBA["x2p."].fillna(NBA["x2p."].mean(),inplace=True)
NBA["efg."].fillna(NBA["efg."].mean(),inplace=True)
NBA["x3p."].fillna(NBA["x3p."].mean(),inplace=True)
NBA["ft."].fillna(NBA["ft."].mean(),inplace=True)

In [10]:
NBA.isnull().sum()

pos             0
age             0
bref_team_id    0
g               0
gs              0
mp              0
fg              0
fga             0
fg.             0
x3p             0
x3pa            0
x3p.            0
x2p             0
x2pa            0
x2p.            0
efg.            0
ft              0
fta             0
ft.             0
orb             0
drb             0
trb             0
ast             0
stl             0
blk             0
tov             0
pf              0
pts             0
season          0
season_end      0
dtype: int64

In [11]:
NBA.shape

(481, 30)

In [12]:
NBA.drop(['pos','bref_team_id','season','season_end'],axis=1,inplace=True)

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(NBA)
scaled_features = scaler.transform(NBA)

In [18]:
NBA_feature = pd.DataFrame(scaled_features,columns=scaled_features.columns[:-1])
NBA_feature.head()

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

AttributeError: 'DataFrame' object has no attribute 'player'